/* Estilos generales */
html{
    overflow-x: hidden;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    background: #8f2828;
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw auto;
    z-index: 100;
}

/* Contenedor principal de todos los carruseles */
.carruseles {
    margin: 0;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
}

/* Contenedor individual de cada carrusel */
.carrusel-item {
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-snap-type: start;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0%;
    transition: transform 0.75s ease-in-out;
    object-fit: cover; 
    overflow: hidden;
}

/* El 치rea visible donde se muestran las im치genes */
.carrusel-contenido {
    width: 75%;
    position: relative;
}

/* Contenedor de las im치genes que se va a mover con JS */
.carrusel-imagenes {
    width: 100%;
    display: flex;
    transition: transform 0.75s ease-in-out;
}

/* Estilo de cada imagen dentro del carrusel */
.carrusel-imagenes .img {
    width: 100%;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    height: auto;
    /* total visibilidad del carrusel por imagen */
}

/* Estilos para los puntos de navegaci칩n */
.puntos {
    list-style: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0%;

}

.punto {
    width: 1em;
    height: 1em;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.punto.activo {
    background: rgb(143, 40, 40);
    border-radius: 0%;
}

.reacts {
    padding: 5%;
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

p {
    text-align: center;
    margin: 0%;
    padding: 5%;
    width: 90%;
    height: 10%;
}

.flecha,
.anterior,
.siguiente {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background: none;
    padding: 0%;
    margin: 0%;
    color: #8f2828;
}

.flecha:disabled {
    color: #999999;
    cursor: not-allowed;

}
.botones {
    position: absolute;
    z-index: 100;
    height: 1em;
    justify-content: center;
}
