* {
    font-family: Helvetica;
}

header {
    background: #8f2828;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Contenedor principal de todos los carruseles */
.carruseles {
    margin: auto;
}

/* Contenedor individual de cada carrusel */
.carrusel-item {
    width: 50%;
    margin: auto;
    overflow: hidden;
    /* ¡Clave! Oculta el contenido fuera del límite visible */
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* El área visible donde se muestran las imágenes */
.carrusel-contenido {
    width: 100%;
    position: relative;

}

/* Contenedor de las imágenes que se va a mover con JS */
.carrusel-imagenes {
    width: 100%;
    display: flex;
    transition: transform 0.75s ease-in-out;
}

/* Estilo de cada imagen dentro del carrusel */
.carrusel-imagenes .img {
    width: 90%;
    margin: 5%;
    position: relative;
    flex-shrink: 0;
    height: auto;
    /* total visibilidad del carrusel por imagen */
}

/* Estilos para los puntos de navegación */
.puntos {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0%;

}

.punto {
    width: 1em;
    height: 1em;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.punto.activo {
    background: rgb(143, 40, 40);
    border-radius: 0%;
}

.reacts {
    padding: 5%;
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

p {
    text-align: center;
    margin: 0%;
    padding: 5%;
    width: 90%;
    height: 10%;
}

.flecha,
.anterior,
.siguiente {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background: none;
    padding: 0%;
    margin: 0%;
    color: #8f2828;
}

.flecha:disabled {
    color: #999999;
    cursor: not-allowed;

}
.botones {
    position: absolute;
    z-index: 1;
    height: 1em;
    justify-content: center;
}

footer{
    background: #8f2828;
    margin: 0%;
    opacity: none;
}